<!doctype html>
<html lang="en">
  <head>

    <title>Voting App</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, intial-scale=1, shrink-to-fit=no" />
    <link rel="stylesheet" href="/public/css/bootstrap.css" />
    <link rel="stylesheet" href="/public/css/main.css" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=OpenSans" />
  
  </head>
  <body>