<!doctype html>
<html lang="en">
  <head>

    <title>Voting App</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <link rel="stylesheet" href="/semantic/dist/semantic.min.css" />
    <!--<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=OpenSans" /> -->
    <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
    <script type="text/javascript" src="/semantic/dist/semantic.min.js"></script>

  </head>