<div class="ui secondary  menu spacer">
  <a class="ui button positive" href="/">
    Vote App
  </a>
  <a class="item" href="/polls/newvote">
    New Poll
  </a>
  <a class="item" href="javascript:void(0)">
    My Polls
  </a>
  <div class="right menu">
    <a class="ui button positive">
      Sign in with Twitter<span><i class="twitter icon"></i></span>
    </a>
  </div>
</div>
