<div class="ui secondary  menu">
  <a class="item" href="/">
    Vote App
  </a>
  <a class="item" href="/polls/newvote">
    New Poll
  </a>
  <a class="item" href="javascript:void(0)">
    My Polls
  </a>
  <div class="right menu">
    <a class="ui button positive">
      Sign in with Twitter
    </a>
  </div>
</div>