<% include partials/header.ejs %>

<% include partials/nav.ejs %>

<div class="ui very padded segment">
  <form class="ui form">
    <div class="field">
      <label>Enter your vote title</label>
      <input type="text" placeholder="Enter you vote title" name="title" />
    </div>
    <div class="field">
      <label>Enter your vote options opinion(separated by comma)</label>
      <textarea name="options" placeholder="Enter you vote option which users will select to upvote"></textarea>
    </div>
    <button class="ui button positive" type="submit">Submit</button>
  </form>
</div>

<% include partials/footer.ejs %>