<!doctype html>
<html lang="en">
  <head>

    <title>Voting App</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, intial-scale=1, shrink-to-fit=no" />
    <link rel="stylesheet" href="/public/css/semantic.css" />
    <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
    <script type="text/javascript" src="/public/js/semantic.js"></script>
  
  </head>
  <body>
  
    <div class="">
      <div class="">
        <div class="ui secondary menu">
          <a class="item active">Home</a>
          <a class="item">New Poll</a>
          <a class="item">My Polls</a>
          <a class="item">Logout</a>
        </div>
      </div>
    </div>

    <script>
      (function () {
        $('.item').on('click', function () {
          this.addClass('active');
        });
      })();
    </script>

  </body>
</html>