<% include partials/header.ejs %>

<% include partials/nav.ejs %>

    <div class="ui center aligned raised segment">
      <p class="lead">Opinion Polling App</p>
      <p><span><a class="ui button positive" href="javascript:void(0)">Sign In</a></span> to create and upvote your polls</p>
    </div>


<% include partials/footer.ejs %> 