  <% include partials/header.ejs %>

  <% include partials/nav.ejs %>

    <div class="ui container">

        <% data.forEach(function (dataItem) { %>
          <div class="ui center aligned segment">
            <a class="item" href="/polls/myPoll/<%= dataItem._id %>">
              <%= dataItem.title %>
            </a>
          </div>
        <% }) %>
    </div>

<% include partials/footer.ejs %>
