<% include partials/header.ejs %>

<% include partials/nav.ejs %>

    <div class="ui container">
        <p class="lead">Make new poll!</p>

        <% if (error) { %>

          <% error.forEach(function (error) { %>
            <div class="ui negative message">
              <i class="close icon"></i>
              <div class="header">
                <%= error.msg %>
              </div>
              <p>Please fill in the required fields</p>
            </div>
          <% }) %>

        <% } %>

        <form class="ui form" method="POST" action="/polls/newPoll">
          <div class="field">
            <label>Title</label>
            <input type="text" id="input" name="title" placeholder="Enter your opinion title or vote title" />
          </div>
          <div class="field">
            <label>Options (separated by comma)</label>
            <textarea placeholder="Enter your vote options or opinion options" name="options"></textarea>
          </div>
          <button class="ui button positive small" type="submit">Create</button>
        </form>
      </div>
<% include partials/footer.ejs %>