<% include partials/header.ejs %>

<% include partials/nav.ejs %>

<div class="ui container center aligned">
    <p class="lead">Opinion Polls</p>
</div>

  <% if(user || !user) { %>

    <div class="ui container">

        <% if (success_msg) { %>
          <div class="ui green message">
            <i class="close icon"></i>
            <div class="header">
              <%= success_msg %>
            </div>
            <!--<p>You can upvote your poll and delete the poll if you dislike it!</p>-->
          </div>
        <% } %>

        <% data.forEach(function (dataItem) { %>
          <div class="ui center aligned segment">
            <a class="item" href="/<%= dataItem._id %>">
              <%= dataItem.title %>
            </a>
          </div>
        <% }) %>
    </div>

    <% } %>

<% include partials/footer.ejs %>