<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Opinion Polling App</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <link rel="stylesheet" href="/semantic/dist/semantic.css" />
    <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
    <script type="text/javascript" src="/semantic/dist/semantic.js"></script>
  </head>
  <body>

        <!-- Nav Element -->

          <% if (user) { %>
      
            <div class="ui large menu outer">
              <a class="item" href="/">
                Home
              </a>
              <a class="item" href="/polls/newPoll">
                New Poll
              </a>
              <a class="item" href="/polls/myPoll">
                My Polls
              </a>
              <div class="right menu">
                <a class="item" href="/auth/logout">
                  Logout
                </a>
              </div>
            </div>
      
            <% } else { %>
      
              <div class="ui large menu outer">
                <a class="item" href="/">
                  Home  
                </a>
                <div class="right menu">
                  <a class="item" href="/auth/twitter">
                    Sign In with Twitter
                  </a>
                </div>
              </div>
      
              <% } %>
      

  
    <script type="text/javascript" src="/controllers/clientHandler.js"></script> 
  </body>
</html>